/* ==========================================================================

   Base & Reset Styles

   ========================================================================== */

/* 전역 타이포그래피 설정 */
body {
    /* font-family: "Your-Font-Name", sans-serif; */ /* 폰트 설정은 이곳에서 할 수 있습니다. */
    line-height: 1.6; /* 기본 행간을 1.6으로 설정하여 가독성을 높입니다. */
    letter-spacing: -0.005em; /* 글자 사이의 간격을 미세하게 조정합니다. */
}

p {
    margin-top: 0; /* 단락 상단 여백 초기화 */
    margin-bottom: 0; /* 단락 하단 여백 설정 */
}

/* 제목(h1, h2, h3 등) 스타일 초기화 및 기본 설정 */
h1, h2, h3, h4, h5, h6 {
    margin: 0; /* 브라우저 기본 마진 제거 */
    padding: 0; /* 브라우저 기본 패딩 제거 */
    margin-top: 0; /* 단락 상단 여백 초기화 */
    margin-bottom: 0px; /* 단락 하단 여백 설정 */
    font-weight: bold; /* 기본적으로 굵은 글씨체 유지 */
}

/* Base typography for .post-category1-tag */
.post-category1-tag {
    font-size: 0.75em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1;
}

/* Post content heading margins */
.post-body h1 {
    font-size: 2em; /* Adjust as needed */
    margin-top: 20px;
    margin-bottom: 0px;
}

.post-body h2 {
    font-size: 1.5em; /* Adjust as needed */
    margin-top: 10px;
    margin-bottom: 0px;
}

.post-body h3 {
    font-size: 1.2em; /* Adjust as needed */
    margin-top: 5px;
    margin-bottom: 0px;
}

.post-body h4 {
    font-size: 1em; /* Adjust as needed */
    margin-top: 0px;
    margin-bottom: 0px;
}

.post-body h5 {
    font-size: 0.9em; /* Adjust as needed */
}

.post-body h6 {
    font-size: 0.8em; /* Adjust as needed */
}
