<nav class="gnb">
    <ul class="gnb-left">
        <li data-gnb-id="home"><a href="./index.html">Home</a></li>
    </ul>
    <ul class="gnb-center-nav">
        <li data-gnb-id="about"><a href="./about.html">About</a></li>
        <li data-gnb-id="project"><a href="./project.html">Project</a></li>
        <li data-gnb-id="skill"><a href="./skill.html">Skill</a></li>
        <li data-gnb-id="troubleshooting"><a href="./troubleshooting.html">Trouble shooting</a></li>
        <li data-gnb-id="decision"><a href="./decision.html">Decision</a></li>
        <li data-gnb-id="post"><a href="./post.html">Post</a></li>
        <!-- blog-gnb items -->
        <li data-gnb-id="cs"><a href="./cs.html">CS</a></li>
        <li data-gnb-id="language"><a href="./language.html">Language</a></li>
        <li data-gnb-id="data"><a href="./data.html">Data</a></li>
        <li data-gnb-id="infra"><a href="./infra.html">Infra</a></li>
        <li data-gnb-id="tools"><a href="./tools.html">Tools</a></li>
    </ul>
    <ul class="gnb-right">
        <li data-gnb-id="portfolio-btn" class="gnb-switch-btn"><a href="#">Portfolio</a></li>
        <li data-gnb-id="blog-btn" class="gnb-switch-btn"><a href="#">Blog</a></li>
    </ul>
</nav>