# ==========================================
# ⚙️ 환경설정
# ==========================================
NODE_ENV="development"
GA_MEASUREMENT_ID='G-BWB3NNP8NC'
ADMIN_PASSWORD='admin_password'
JWT_SECRET='your_jwt_secret_key_here'

# ==========================================
# ⚠️ SWITCH (local 또는 remote로 설정)
# ==========================================
DB_ENV="local"

# ==========================================
# 🟢 LOCAL TEXT DB(Postgres)[text only]
# ==========================================
LOCAL_DB_HOST=127.0.0.1
LOCAL_DB_PORT=0000
LOCAL_DB_USER=username
LOCAL_DB_PASSWORD=userpassword
LOCAL_DB_DATABASE=database_name
LOCAL_DB_SSL=true

# ==========================================
# 🚀 REMOTE TEXT DB(Neon)[text only]
# ==========================================
REMOTE_DB_HOST=your-neon-host.neon.tech
REMOTE_DB_PORT=5432
REMOTE_DB_USER=neondb_owner
REMOTE_DB_PASSWORD=neon_actual_password_here
REMOTE_DB_DATABASE=neondb
REMOTE_DB_SSL=false

# ==========================================
# 🌨️ REMOTE IMAGE DB(Cloudflare R2)[image only]
# ==========================================
R2_BUCKET_NAME=your_bucket_name
R2_ACCESS_KEY=your_access_key_id
R2_SECRET_ACCESS_KEY=your_secret_access_key
R2_ENDPOINT=your_r2_endpoint
R2_PUBLIC_URL=your_public_url_for_cdn_access