# 🐍 local artifacts
__pycache__/
*.pyc

# 📦 의존성 (가장 중요)
node_modules/

# 🚀 Next.js 빌드 및 캐시 폴더
/.next/
/out/
/build

# 🔐 환경 변수 (보안)
.env
.env*.local

# 📝 로그 파일
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 🍏 OS 및 에디터 찌꺼기
.DS_Store
Thumbs.db
*.pem
.vscode/
.idea/

# 🛠️ TypeScript 캐시
*.tsbuildinfo

# ☁️ Vercel 배포 관련
.vercel

# 🧪 게시물 데이터
/public/download-posts/*
!/public/download-posts/.gitkeep

# upload-posts는 추가예정
/public/upload-posts/*
!/public/upload-posts/.gitkeep

/public/posts/*

# 📚 개발문서(아키텍처, 시퀀스 다이어그램 등)
.docx

# 🗃️ 로컬 데이터베이스 파일
/local.db
/local.db-journal
/local.db-shm
/local.db-wal
/visitLog.db
/visitLog.db-journal
/visitLog.db-shm
/visitLog.db-wal
/Logs.db
/Logs.db-journal
/Logs.db-shm
/Logs.db-wal